.badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 40px;
  font-family: 'Amiko', sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}