<div class="cards-container">
  <button 
    class="card-pokemon" 
    [style.--card-color]="primaryColor">

    <div class="imagem">
      <img [src]="src" [alt]="label" />
    </div>

    <div class="card-text-content">
      <div class="info">
        <h3 class="nome">{{ label }}</h3>
        <div class="tipo">
          <app-pokemon-type *ngFor="let type1 of tipo" [type]="type1"></app-pokemon-type>
        </div>
      </div>
    </div>

    <div class="numero">
      <p class="Number">Nº {{ number }}</p>
    </div>
  </button>
</div>